.center_header .input-group > :first-child {
    border-right: 0;
}

.center_header .button.hollow.secondary {
    border: 1px solid #cacaca;
    border-left: 0;
}

.center_header [type='search'], textarea {.re
    box-shadow: none;
}