h1 {
    font-size: 24px;
}
h2 {
    font-size: 20px;
}
h3 {
    font-size: 19px;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 17px;
}
h6 {
    font-size: 16px;
}

.center_header .input-group > :first-child {
    border-right: 0;
}

.center_header .button.hollow.secondary {
    border: 1px solid #cacaca;
    border-left: 0;
}

.center_header [type='search'], textarea {
    box-shadow: none;
}

.center_header [type='search']:focus {
    border:1px solid #cacaca;
    border-right: 0;
}

.center_header  a.button.rounded {
    width: 40px;
    height: 40px;
}

.center_header .input-group > :last-child > *,
.center_header .input-group > :first-child {
    border-radius: 0;
}