h1 {
    font-size: 24px;
}
h2 {
    font-size: 20px;
}
h3 {
    font-size: 19px;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 17px;
}
h6 {
    font-size: 16px;
}

.center_header .input-group > :first-child {
    border-right: 0;
}

body {
    color: #707070;
}

.top-bar, .top-bar ul {
    background-color: #707070;
}

.button:hover, .button:focus {
    background-color: #258dad;
    color: #b8b8b8;
}

a:hover, a:focus {
    color: #ff5733;
}

.bg1 {
    background-color: #707070;
}
.bg2 {
    background-color: #b8b8b8;
}
.bg3 {
    background-color: #f0f0f0;
}
.bg4 {
    background-color: #ff5733;
}

.center_header .button.hollow.secondary {
    border: 1px solid #cacaca;
    border-left: 0;
}

.center_header [type='search'], textarea {
    box-shadow: none;
}

.center_header [type='search']:focus {
    border:1px solid #cacaca;
    border-right: 0;
}

.center_header  a.button.rounded,
.center_footer a.button.rounded {
    width: 40px;
    height: 40px;
}

.center_header .input-group > :last-child > *,
.center_header .input-group > :first-child {
    border-radius: 0;
}

.left_footer .menu a {
    line-height: 0.5;
}

.center_footer .schema {
    line-height: 1.65;
}