h1 {
    font-size: 24px;
}
h2 {
    font-size: 20px;
}
h3 {
    font-size: 19px;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 17px;
}
h6 {
    font-size: 16px;
}

body {
    color: rgba(112, 112, 112, 1);
}

/*menu*/

@media screen and (min-width: 64em) {
    .top-bar .dropdown.menu a {
        padding: 0.7rem 0;
    }

    .menu-hover-lines {
        /*text-align: center;*/
        text-transform: uppercase;
        font-weight: 500;
        /*letter-spacing: 1px;*/
        transition: all 0.35s ease;
    }

    .menu-hover-lines li a {
        padding: 0.75rem 0;
        color: rgba(10, 10, 10, 0.5);
        position: relative;
        margin-left: 1rem;
    }

    .menu-hover-lines li.active > a {
        background-color: transparent;
    }

    .menu-hover-lines a:before,
    .menu-hover-lines a::after {
        height: 3px;
        position: absolute;
        content: '';
        transition: all 0.35s ease;
        background-color: #1779ba;
        width: 0;
    }

    .menu-hover-lines a::before {
        top: 0;
        left: 0;
    }

    .menu-hover-lines a::after {
        bottom: 0;
        right: 0;
        top: auto;
    }

    .menu-hover-lines a:hover,
    .menu-hover-lines li.active > a {
        color: #0a0a0a;
        transition: all 0.35s ease;
    }

    .menu-hover-lines a:hover::before,
    .menu-hover-lines .active a::before,
    .menu-hover-lines a:hover::after,
    .menu-hover-lines .active a::after {
        width: 100%;
    }

    .dropdown.menu > li.is-dropdown-submenu-parent > a {
        padding-right: 0rem;
    }

    .dropdown.menu.vertical > li > a::after {
        right: 0px;
    }
}

/*end menu*/

.center_header .input-group > :first-child {
    border-right: 0;
}

.center_header .button.hollow.secondary {
    border: 1px solid #cacaca;
    border-left: 0;
}

.center_header [type='search'], textarea {
    box-shadow: none;
}

.center_header [type='search']:focus {
    border:1px solid #cacaca;
    border-right: 0;
}

.center_header  a.button.rounded,
.center_footer a.button.rounded {
    width: 40px;
    height: 40px;
}

.center_header .input-group > :last-child > *,
.center_header .input-group > :first-child {
    border-radius: 0;
}

.left_footer .menu a {
    line-height: 0.5;
}

.center_footer .schema {
    line-height: 1.65;
}